.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container Button{
    width: 100%;
    border: 1px solid black;
    margin: 5px;
}